body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #161616;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    flex: 1;
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
}

footer {
    border-top: 1px solid #ccc;
    text-align: center;
    font-style: italic;
    padding: 1em;
}
