body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #004080;
  color: white;
  padding: 20px;
  border-bottom: 4px solid #003060;
}

footer {
  background-color: #004080;
  color: white;
  padding: 10px;
  text-align: center;
}
article {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.logo {
  font-size: 2rem;
  margin-right: 20px;
}
li a{
  color: #f9f9f9;
}